-- CREATECREATE TABLE Banco(
	Id int IDENTITY(1,1) NOT NULL,
	Codigo varchar(10) NOT NULL,
	Nome varchar(100) NULL,
 CONSTRAINT [PK_CodigoBanco] PRIMARY KEY CLUSTERED 
(
	Id ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]-- INSERTINSERT INTO Banco (Codigo, Nome) VALUES (N'654', N'Banco A.J.Renner')
